{% from '_utils.njk' import Header %}

{% set title = 'About' %}
{% extends '_base.njk' %}
{% block body %}
    {{ Header() }}
    <h3>{{ f.lorem.words(randint(2,3)) }}</h3>
    <p>{{ f.lorem.words(randint(20,30)) }}</p>
    <p>{{ f.lorem.words(randint(20,50)) }}</p>
    <p><img src={{ f.internet.avatar() }}></p>
{% endblock %}
