
@import 'vars';
@import 'include';

body {
  color: $color-main;
  font-size: 16px;
  display: grid;
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  max-width: 22rem;
  margin: auto;
}

// below code is unused in HTML and will de deleted by unCSS NOTE: only in production
.block1 {
  color: rgb(200, 100, 0);
  padding: 0;

  &:hover {
    color: blue;
  }
}

.block11 {
  color: rgb(200, 100, 0);
  padding: 0;

  &:hover {
    color: blue;
  }
}

.block2 {
  outline: 1px solid rgb(200, 100, 0);
  // will be autoprefixed
  // doiuse will NOT warn about browser support (we add flexbox to its ignore)
  display: flex;
}

.img-fit {
  //object-fit: scale-down;
}
